@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body,
input,
select,
textarea,
body * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body::after, body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
  background: url('/assets/bg.jpg');

}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2em;
}

.container {
  position: relative;

  margin: 5rem auto;
  background: #fff;
  width: 100%;

  border-radius: 1px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
  z-index: -1;
}

.container:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.button-container {
  text-align: center;
}

.menu {
  background: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 12pt;
  width: auto;
}

.logo img {
  width: 68px;
  float: left;
}

.mainmenu {
  float: left;
  width: 100%;
}

.menuright {

  float: right;
  width: 10%;
  line-height: 15px;
  margin: 15px 2% 0px;
  font-size: 0.8em;
}

.mainmenu a {
  text-decoration: none;
  color: #475258;
  transition: 0.3s;
  text-transform: capitalize;
}

.mainmenu a:hover {
  color: #57CBC8;
}

.mainmenu li {
  display: inline-block;
  margin-left: 4%;
}

.container {
  overflow: visible;
  margin-top: 1.5%;
}

.content {
  margin: 0 auto;
  padding: 30px;
  width: 95%;
  background: #fff;
}

.post {
  position: relative;
  background: #fff;
  padding: 6% 6% 6% 15%;
}

.post .vote {
  display: block;
  background: #1f1f1f;
  color: #fff;
  font-size: 14pt;
  width: 60px;
  height: 305px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  left: 0;
}

.post .vote i {
  padding: 5px 0;
}

.post h1 {
  font-size: 1.5em;
  color: #475258;
  margin-bottom: 3%;

}

.post p {
  line-height: 1.5em;
  color: #303030;
  font-weight: 500;
  margin-left: 11%;
}

.post a {
  color: #EA6060;
  text-decoration: none;
  transition: 0.3s;
}

.post a:hover {
  color: #9c1515;
}

.comments {
  padding: 5% 10% 5% 10%;

}

.comments i {
  font-size: 25px;
  margin-bottom: 2%;

}

.comments li {
  display: block;
  font-weight: 500;
}

.comments a {
  color: #999;
  transition: 0.3s;
}

.comments a i,
.comments a:hover {
  color: #57CBC8;
}

.comment-content {
  display: inline-block;
  position: relative;
  padding-left: 1em;
  vertical-align: top;
  margin-top: 1em;

}

strong {
  font-weight: 900;
}

a {
  cursor: pointer;
  cursor: hand;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.form-inline > .form-group,
.form-inline > .btn,
.form-inline > .form-radio {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}

.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
  position: absolute;
  width: 100%;
}

.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}

.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}

.form-group textarea {
  resize: none;
}

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
  text-transform: Capitalize;
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}

.form-group input[type="file"] {
  line-height: 1;
}

.form-group input[type="file"] ~ .bar {
  display: none;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #337ab7;
}

.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #d9534f;
}

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #4f93ce;
  margin: 2rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.button:hover {
  color: #337ab7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.button:active::before, .button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.button:focus {
  outline: none;
}

.wide {
  min-width: 480px;
}

.masonry {
  /* min width of a single column */
  column-width: 140px;
  /* maximum amount of columns */
  column-count: 4;
  /* gap between the columns */
  column-gap: 16px;
  margin: 1em;
}

.masonry div {
  /* important so a single div never gets distributed between columns */
  break-inside: avoid-column;
  padding: 20px;
  background-color: #2C2F33;
  margin-bottom: 16px;
  color: white;
}

.masonry div a {
  color: white;
  line-height: 2em;
  text-decoration: none;
  text-underline: none;
}

h2 {
  font-size: 1.5em;
}

.bigText {
  font-size: 1.5em;
}

.inline {
  display: inline-block;

}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 18.66667px;
  text-align: center;
  line-height: 30px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

i {
  cursor: pointer;
}

.iconRight {
  float: right;
  font-size: 1em;
}

/* 404 PAGE STYLE */

.noPost {
  padding: 5%;
  background: #212121
}

h5 {
  color: #f6f5f0;
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px #b0b0b0, 2px 2px #b0b0b0, 3px 3px #797979, 4px 4px #797979, 5px 5px #5c5c5c, 6px 6px #5c5c5c, 7px 7px #404040, 8px 8px #404040, 9px 9px #232323, 10px 10px #232323, 11px 11px #111111, 12px 12px #111111, 13px 13px #000000, 14px 14px #000000;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
}

.big404 {
  color: #e8d716;
  font-size: 120px;
  text-shadow: 1px 1px #d3c206, 2px 2px #d3c206, 3px 3px #b3a400, 4px 4px #b3a400, 5px 5px #968a00, 6px 6px #968a00, 7px 7px #605803, 8px 8px #605803, 9px 9px #393400, 10px 10px #393400, 11px 11px #161401, 12px 12px #161401, 13px 13px #000000, 14px 14px #000000;
}
